<div class="form-row">

        <div class="form-group col-md-12">
                <br/>
                <div class="alert alert-primary" role="alert">
                        This list is sorted by prioity in descending order the more on the top the high on priority
                      </div>
                <br/>
<table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Issue Type</th>
            <th scope="col">Student Name</th>
            <th scope="col">Date</th>
            <th scope="col">From Time</th>
            <th scope="col">To Time</th>
            <th scope="col">Create Date</th>
            <th scope="col">Aprroved</th>
            <th scope="col">Approve Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
                <tr scope="row" *ngFor="let request of requests">
                        <td>{{request.issueType}}</td>
                        <td>{{request.fromName}}</td>
                        <td>{{request.startDateString}}</td>
                        <td>{{request.startTimeString}}</td>
                        <td>{{request.endTimeString}}</td>
                        <td>{{request.createDate}}</td>
                        <td>{{request.status}}</td>
                        <td>{{request.approveDate}}</td>
                        
                        <td> 
                                <button class="btn btn-outline-primary" (click)="open(request)">View Issue</button>
                                <button *ngIf="request.canApprove" class="btn btn-outline-success" (click)="changeRequest(request.requestID, 2)">Approve</button>
                                <button *ngIf="request.canApprove" class="btn btn-outline-danger" (click)="changeRequest(request.requestID,3)">Reject</button>
                                <button *ngIf="request.canApprove" class="btn btn-outline-warning" (click)="changeRequest(request.requestID,4)">Serve</button>

                        </td>
                                </tr>        </tbody>
      </table>
    </div>
    </div>

   